<nav class="navbar navbar-expand-sm   navbar-white bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <% if current_user %>
        <li class="nav-item dropdown dmenu">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= current_user.email%>
          </a>
          <div class="dropdown-menu sm-menu">
            <a class="dropdown-item" href="/users/me">Profile</a>
            <%= link_to 'Log out', session_path(1), method: :delete, class:"dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class = "nav-item"><a class="nav-link" href="/sessions/new" data-toggle="modal" data-target="#loginModal" >Login</a></li>
        <li class = "nav-item" ><a class="nav-link" href="/users/new"  data-toggle="modal" data-target="#signupModal">SignUp</a></li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container">
  <!-- The Modal -->
  <div class="modal" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Login</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <%= render partial: "sessions/form" %>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <p><a class="signup_button" href = "#">SignUp</a></p>
        </div>
        
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- The Modal -->
  <div class="modal" id="signupModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">SignUp</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <%= render partial: "users/form" %>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <p><a class="login_button" href = "#">Login</a></p>
        </div>
        
      </div>
    </div>
  </div>
</div>