<div id= "widgets">
	<div class = "row">
		<table class="table table-striped table-bordered accounts_table">
		  <thead>
		    
		    <tr>
		      <th> Name </th>
		      <th> Dscription </th>
		      <th> User </th>    
		      <th> </th>

		    </tr>

		  </thead>
		  <tbody id="accounts-tbody">
		    <%= render :partial => "widgets/list" %>  
		  </tbody>
		</table>
	</div>
</div>		
